.idea
src/AuctionService/bin
src/AuctionService/obj
src/SearchService/bin
src/SearchService/obj
src/Contracts/obj
src/Contracts/bin
src/IdentityService/obj
src/IdentityService/bin
src/IdentityService/bin
src/GatewayService/obj
src/GatewayService/bin
src/BiddingService/obj
src/BiddingService/bin
